language: php
php: 7.1
before_script:
- docker pull phpqa/php-cs-fixer
- docker pull phpqa/phpcs
- composer install
script:
- docker run --rm -v $PWD:/app phpqa/phpcs ./classes
- docker run --rm -v $PWD:/app phpqa/security-checker security:check
notifications:
  email:
    on_success: never
    on_failure: always
  slack: iw2-16-18:lySd8flpLSaCmBTneibOzIrF
deploy:
  provider: heroku
  api_key:
    secure: Gdy0RDFT4PxIhSLbIPqkZHN+09gkz+kmrkc02T/NaBNGOu0rRJVtVNaTokCWV2mVxvVe1iZ4n7YymYwvisik5NhEYmtHfd/AzLcWlUi5C1YbMyprHeNbANRgGp2iymMLd79ipUnkO7FKhrg2/CB5u944AFVGUlHuuiDVwYweLE3h8L1XevBsjT57TuaIbRSNRyijsRA8FxITK1YwEiGnK+fzPpzk1TMBJ8krNvQe9LqRrQW/NBh7MneWtAasgNkXgHq6/jpyNad2Tujp3FSPRPEszNPX3hnuJ3p0Xbuq3kQnniKtCey/lm2vtwq/sfs971CBTxJ15GQPg1gWX3iO+rRYnUboxTc0pMtJUT4EDBjYVJENxn9dAjLNcRC+7cYgWaOzL0zp6l5FNK8z12KmRzkHV+YEtHei+PUwNAtaL5DX2PrNA7p6jGKifzefTdK+fzQXyh7tHK/Doley+aIoiagDlr5g3te1i49MvezTlnKYB/5XXpzOTRcaRPYlX6XZ+PWrjyjw3tzmyoUPh8ekqOtqEWeuynhiBRcN9gpA6s/pXwbJFU6AA2dN3nn0XgxRjR4M4EcTb+TQIjyPv0moZRx0xsGttoXr8tJHrQgU1Z4BqbOkoEHnh6Pr5wEnjV+sz10sAhM0W59FIiVeK56vCsbxzDdvQlDeJXRM5yYWmMk=
  app: coursindus
  on:
    repo: teddymeksavanh/coursIndusEnvWeb
