language: php
php: 7.1
before_script:
  - composer install
script:
  - docker run --rm -v $PWD:/app phpqa/phpcs ./classes
  - docker run --rm -v $PWD:/app phpqa/security-checker security:check
notifications:
  email:
    on_success: never
    on_failure: always
  slack: iw2-16-18:lySd8flpLSaCmBTneibOzIrF
